body {
  background-color: gray;
}

#logindiv {
  margin: 0 auto;
  width: 300px;
}

#site-header {
    color: #aaa;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 70px;
    margin-right: 70px;
    background-color: green;
}

header {
  position: relative;
  margin-left: 70px;
  margin-right: 70px;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 200px;
}

h1 {
  text-align: center;
  color: #FFFFFF;
  font-size: 50px;
  text-indent: 40px;
  font-family: Verdana;
  font-weight: bold;
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

#welcome {
    margin-bottom: -50px;
}

#h1green {
  font-size: 70px;
  font-weight: normal;
  margin-bottom: 30px;
  text-shadow: -3px 0 green, 0 3px green, 3px 0 green, 0 -3px green;
}

h2 {
  text-align: center;
  color: black;
  font-size: 30px;
  text-indent: 40px;
  font-family: Verdana;
  font-weight: normal;
}

h3{
  text-align: left;
  color: black;
  font-size: 14px;
  text-indent: 40px;
  font-family: Verdana;
  font-weight: normal;
}

.imageCenter {
    text-align:center;
}

label {
  color: black;
  font-weight: normal;
  font-family: Verdana;
}

.logintext {
  color: black;
  /*font-size: 25px;*/
  font-size: 20px;
  margin-left: 30px;
}

.tboxes {
  background-color: #f3f3f3;
  font-size: 20px;
  color: black;
  padding: 6px 10px;
  margin-left: 30px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid black;
  outline: none;
}

.tboxes:hover {
  border: 1px solid lime;
  border-radius: 6px;
}

.tboxes:focus, input:focus{

  border: 1px solid lime;
  border-radius: 4px;
}

.backButton {
  background-color: #ccc;
  color: black;
  margin-left: 80px;
  padding: 8px 20px 8px 20px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid green;
  border-radius: 8px;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  outline:none
}

.backButton:hover {
  background-color: #f1f1f1;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.regButton {
  background-color: #ccc;
  color: black;
  margin-left: 30px;
  padding: 8px 20px 8px 20px;
  font-size: 19px;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid green;
  border-radius: 8px;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  outline:none
}

.regButton:hover {
  background-color: #f1f1f1;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.loginButton {
  background-color: #ccc;
  color: black;
  margin-left: 15px;
  font-size: 19px;
  padding: 8px 25px 8px 25px;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid green;
  border-radius: 8px;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  outline:none
}

.loginButton:hover {
  background-color: #f1f1f1;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.finishReg {
  background-color: #ccc;
  color: black;
  margin-left: 100px;
  font-size: 20px;
  padding: 8px 25px 8px 25px;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid green;
  border-radius: 8px;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  outline:none
}

.finishReg:hover {
  background-color: #f1f1f1;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#site-footer {
    color: #aaa;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-left: 70px;
    margin-right: 70px;
    background-color: green;
}

.username {
  margin-left: 15px;
}
