body {
  background-color: gray;
}

#logindiv {
  margin: 0 auto;
  width: 300px;
}

#site-header {
    color: #aaa;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 70px;
    margin-right: 70px;
    background-color: green;
}

header {
  position: relative;
  margin-left: 70px;
  margin-right: 70px;
  background-color: white;
  padding-bottom: 100px;
}

h1 {
  text-align: center;
  color: #FFFFFF;
  font-size: 50px;
  text-indent: 40px;
  font-family: Verdana;
  font-weight: bold;
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

#welcome {
    margin-bottom: -50px;
}

#h1green {
  font-size: 70px;
  font-weight: normal;
  margin-bottom: 30px;
  text-shadow: -3px 0 green, 0 3px green, 3px 0 green, 0 -3px green;
}

h2 {
  text-align: center;
  color: black;
  font-size: 30px;
  text-indent: 40px;
  font-family: Verdana;
  font-weight: normal;
}

h3{
  text-align: left;
  color: black;
  font-size: 16px;
  text-indent: 40px;
  font-family: Verdana;
  font-weight: normal;
}

h4{
  text-align: left;
  color: black;
  font-size: 18px;
  text-indent: 40px;
  font-family: Verdana;
  font-weight: bold;
}

.imageCenter {
    text-align: center;
}

.divLeft {
    vertical-align: top;
    float: left;
    margin-left: 30px;
    padding-right: 5px;
}

.divRight {
    vertical-align: center;
    float: right;
    margin-right: 30px;
    position: relative;
}

label {
  color: black;
  font-weight: normal;
  font-family: Verdana;
}

.logintext {
  color: black;
  /*font-size: 25px;*/
  font-size: 20px;
  margin-left: 30px;
}

.tboxes {
  background-color: #f3f3f3;
  font-size: 20px;
  color: black;
  padding: 6px 10px;
  margin-left: 30px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid black;
  outline: none;
}

.tboxes:hover {
  border: 1px solid lime;
  border-radius: 6px;
}

.tboxes:focus, input:focus{

  border: 1px solid lime;
  border-radius: 4px;
}

.backButton {
  background-color: #ccc;
  color: black;
  margin-left: 80px;
  padding: 8px 20px 8px 20px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid green;
  border-radius: 8px;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  outline:none
}

.backButton:hover {
  background-color: #f1f1f1;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.regButton {
  background-color: #ccc;
  color: black;
  margin-left: 30px;
  padding: 8px 20px 8px 20px;
  font-size: 19px;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid green;
  border-radius: 8px;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  outline:none
}

.regButton:hover {
  background-color: #f1f1f1;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.loginButton {
  background-color: #ccc;
  color: black;
  margin-left: 15px;
  font-size: 19px;
  padding: 8px 25px 8px 25px;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid green;
  border-radius: 8px;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  outline:none
}

.loginButton:hover {
  background-color: #f1f1f1;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.finishReg {
  background-color: #ccc;
  color: black;
  margin-left: 100px;
  font-size: 20px;
  padding: 8px 25px 8px 25px;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid green;
  border-radius: 8px;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  outline:none
}

.finishReg:hover {
  background-color: #f1f1f1;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.plantButton1 {
  background-color: #ccc;
  color: black;
  margin-left: 110px;
  padding: 8px 20px 8px 20px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid green;
  border-radius: 8px;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  outline:none
}

.plantButton {
  background-color: #ccc;
  color: black;
  margin-left: 50px;
  padding: 8px 20px 8px 20px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid green;
  border-radius: 8px;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  outline:none
}

.harvestButton1 {
  background-color: #ccc;
  color: black;
  margin-left: 70px;
  padding: 8px 20px 8px 20px;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid green;
  border-radius: 8px;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  outline:none
}

.harvestButton {
  background-color: #ccc;
  color: black;
  margin-left: 30px;
  padding: 8px 20px 8px 20px;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid green;
  border-radius: 8px;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  outline:none
}

.plantDisabled {

}

.harvestDisabled {

}


/* Navigation bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: green;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

/* Navigation bar end */

#site-footer {
    color: #aaa;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-left: 70px;
    margin-right: 70px;
    background-color: green;
}

.profile-img {
  width:30px;
  height:35px;
  padding-left:10px;
}

.username-font {
  margin-left: 10px;
}

.username {
  float: left;
  margin-left: 15px;
  padding-bottom: 10px;
}

th, td {
  padding: 3px;
  text-align: center;
  border-bottom: 1px solid black;
}

.radio-label {
   display: inline-block;
    vertical-align: top;
    margin-right: 3%;
}
.radio-input {
   display: inline-block;
    vertical-align: top;
}

.Coin{
  float: right;
  margin-right: 20px;
  padding-bottom: 10px;
}

.background{
  width:800px;
  height:600px;
  position: relative;
}
.slot1{
  width:130px;
  height:260px;
  left: 90px;
  bottom: 210px;
  position: absolute;
}
.slot2{
  width:130px;
  height:260px;
  left: 270px;
  bottom: 210px;
  position: absolute;
}
.slot3{
  width:130px;
  height:260px;
  left: 450px;
  bottom: 200px;
  position: absolute;
}
.slot4{
  width:130px;
  height:260px;
  left: 620px;
  bottom: 200px;
  position: absolute;
}

.weather-gadget {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 400px;
  text-indent: 40px;
  margin-left: 20px;
}

.weather-div {
  height: 50px;
}

.weather-font {
  height: 50px;
  width: 200px;
  padding-top: 10px;
  float: left;
}

.weather-icon {
  padding-right: 0px;
  float: left;
}
