<!DOCTYPE html>

<html lang="en" dir="ltr">
<head>
  <link rel="stylesheet" href="stylesheets/login.css">
  <meta charset="utf-8">

</head>

<body style="margin: 0;">
  <style>
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: green;
    }

    li {
      float: left;
    }

    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 8px 10px;
      text-decoration: none;
    }

    /* Change the link color to #111 (black) on hover */
    li a:hover {
      background-color: #111;
    }
    .container {
      width: 75%;
      background-color: #ddd;
      margin: 0 auto;
    }

    .skills {
      text-align: right;
      padding-top: 10px;
      padding-bottom: 10px;
      color: white;
    }

    .experience {width: 75%; background-color: #3FFF33;}
    .hunger {width: 60%; background-color: #335EFF;}
    .health {width: 50%; background-color: #FF0000;}
  </style>

  <header id="site-header">
   <ul>
    <li><a class="active" href="/main">Home</a></li>
    <li><a href="/inventory">Inventory</a></li>
    <li><a href="/chat">Chatroom</a></li>
    <li><a href="/quiz">Quiz</a></li>
    <li><a href="/store">Store</a></li>
    <li><a href="/farmagatchi">Farmagatchi</a></li>
    <li><a href="/settings">Settings</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</header>

<header id="mainheader">

  <h3 id = "date"></h3>
  <h1 id="h1green">★Your Farmagatchi!★</h1>

  <h1>Experience</h1>
  <div class="container">
    <div class="skills experience">75%</div>
  </div>

  <h1>Hunger</h1>
  <div class="container">
    <div class="skills hunger">60%</div>
  </div>

  <h1>Health</h1>
  <div class="container">
    <div class="skills health">50%</div>
  </div>
  <br></br>

  <img src="images/air.jpg" alt="tamagotchi" class="tamImg" style="width:300px;height:300px;">

  <br><br>
  <div id="logindiv">
    <button name="Level Up" type="button" class="levelButton">Level Up &#11014;</button>
    <button name="feed" type="button" class="feedButton">Feed &#127805;</button>
  </div>
</header>

<script>
  function DateFunction(){
    var curr_date = new Date();
    document.getElementById("date").innerHTML = curr_date;
  }
</script>

<script>
  setInterval(DateFunction, 1000);
</script>


<footer id="site-footer">
</footer>

</body>
</html>
