 <!-- currency, gems, seed, tomato, watermelon, potato, pumpkin, corn, carrot, cabbage -->
 <!DOCTYPE html>

 <html lang="en" dir="ltr">
   <head>
     <link rel="stylesheet" href="stylesheets/login.css">
     <script type="text/javascript" src="js/login.js"></script>
     <meta charset="utf-8">

   </head>

         <body style="margin: 0;">

 <header id="site-header">
 </header>
         <header id="mainheader">
                 <h3 id = "date"></h3>

             </header>



             <h2>Tokimon Table</h2>

             <table>
               <tr>
                 <th>UID</th>
                 <th>Username</th>
                 <th>Password</th>
                 <th>Salt</th>
                 <th>Coins</th>
                 <th>Gems</th>
                 <th>Seeds</th>
                 <th>Tomato</th>
                 <th>Potato</th>
                 <th>Pumpkin</th>
                 <th>Corn</th>
                 <th>Cabbage</th>
                 <th>Carrot</th>
                 <th>Watermelon</th>
               </tr>
               <tr>
                 <!-- need to specify action and method for the form. the POST corresponds to POST in index.js and action specifies the path/route (in this case in index.js you implement the functionalities) -->
                 <!-- the button doesn't know wher eto post the information, so the action is used to  -->
                 <td><input id = "toke_weight" type="numeric" name="weight" ></td>
                 <td><input id = "toke_height" type="numeric" name="height" ></td>
                 <td><input id = "toke_fly" type="numeric" name="fly" ></td>
                 <td><input id = "toke_fight" type="numeric" name="fight"></td>
                 <td><input id = "toke_fire" type="numeric" name="fire"></td>
                 <td><input id = "toke_water" type="numeric" name="water"></td>
                 <td><input id = "toke_electric" type="numeric" name="electric"></td>
                 <td><input id = "toke_frozen" type="numeric" name="frozen" ></td>
                 <td><input id = "toke_total" type="numeric" name="total" ></td>
                 <td><input id = "toke_electric" type="numeric" name="electric"></td>
                 <td><input id = "toke_frozen" type="numeric" name="frozen" ></td>
                 <td><input id = "toke_total" type="numeric" name="total" ></td>
                 <td><input id = "toke_electric" type="numeric" name="electric"></td>
                 <td><input id = "toke_frozen" type="numeric" name="frozen" ></td>
               </tr>

             <script>
             function DateFunction(){
               var curr_date = new Date();
               document.getElementById("date").innerHTML = curr_date;
             }
             </script>

             <script>
             setInterval(DateFunction, 1000);
             </script>


           <footer id="site-footer">
           </footer>

         </body>
       </html>
