<html lang="en" dir="ltr">
  <head>
    <!-- <link rel="stylesheet" href="stylesheets/quiz.css"> -->
    <link rel="stylesheet" href="stylesheets/main.css">
    <meta charset="utf-8">

  </head>

  <body style="margin: 0;">

<!-- <header id="site-header"> -->
<!-- </header> -->
  <header id="mainheader">


    <ul>
     <li><a class="active" href="/main">Home</a></li>
     <li><a href="/inventory">Inventory</a></li>
     <li><a href="/chat">Chatroom</a></li>
     <li><a href="/quiz">Quiz</a></li>
     <li><a href="/store">Store</a></li>
     <li><a href="/farmagatchi">Farmagatchi</a></li>
     <li><a href="/settings">Settings</a></li>
     <li><a href="/logout">Logout</a></li>
     </ul><br>
                <h3 id = "date"></h3>
                <h1 id="h1green">★Math Quiz!★</h1>

          <div id="Questions">
            <form action="/checkquiz" method="post">
              <h2>What's the square root of 100?</h2>
              <div class="imageCenter">
                <input type="radio" name="q1" value="0">25</input>
                <input type="radio" name="q1" value="1">5</input>
                <input type="radio" name="q1" value="0">10</input>
                <input type="radio" name="q1" value="0">30</input>
                              </div>

              <h2>What's 25 / 5 ?</h2>
              <div class="imageCenter">
                <input type="radio" name="q2" value="0">25</input>
                <input type="radio" name="q2" value="1">5</input>
                <input type="radio" name="q2" value="0">10</input>
                <input type="radio" name="q2" value="0">30</input>
                              </div>


              <h2>What's (25 - 5 ) / 2 ?</h2>
              <div class="imageCenter">
                <input type="radio" name="q3" value="0">23</input>
                <input type="radio" name="q3" value="0">20</input>
                <input type="radio" name="q3" value="1">10</input>
                <input type="radio" name="q3" value="0">25</input>
                              </div>

              <h2>What's 1000 - 10 *2?</h2>
              <div class="imageCenter">
                <input type="radio" name="q4" value="0">920</input>
                <input type="radio" name="q4" value="0">1020</input>
                <input type="radio" name="q4" value="0">1980</input>
                <input type="radio" name="q4" value="1">980</input>
                              </div>
                <div class="imageCenter">
                  <br>
            <button type="submit" id="submit" class="regButton" value="Submit" >Submit</button>
                            </div>

            </form><br>

          </div>
          <h1 id="score"></h1>
          <h2 id="res"></h2>
          <h1 id="coinResult"></h1>
          <h1 id="message"></h1>
            </header>
          <footer id="site-footer">
          </footer>

        </body>
      </html>
