<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="stylesheets/login.css">
    <script type="text/javascript" src="js/message.js"></script>
    <meta charset="utf-8">

  </head>

        <body style="margin: 0;">

          <header id="site-header">
          </header>

        <header id="mainheader">
                <h1 class="loginfail"><%= title %></h1>
                <div style="width: 100%"><img id ="msgimg" onload="loadImage()" src="" style="width: 50%; margin-left: auto; margin-right: auto; "></div>
                <h2 id="msg" ><%= msg %></h2>

          <div id="logindiv">
            <form action="/" method="get">
                <button type="submit" name="submit" class="backButton">Back</button>
            </form>
          </div>

            </header>
          <footer id="site-footer">
          </footer>

        </body>
      </html>
