<html lang="en" dir="ltr">
  <head>
    <!-- <link rel="stylesheet" href="stylesheets/quiz.css"> -->
    <link rel="stylesheet" href="stylesheets/main.css">
    <meta charset="utf-8">

  </head>

  <body style="margin: 0;">

<!-- <header id="site-header"> -->
<!-- </header> -->
  <header id="mainheader">


    <ul>
     <li><a class="active" href="/main">Home</a></li>
     <li><a href="/inventory">Inventory</a></li>
     <li><a href="/chat">Chatroom</a></li>
     <li><a href="/quiz">Quiz</a></li>
     <li><a href="/store">Store</a></li>
     <li><a href="/farmagatchi">Farmagatchi</a></li>
     <li><a href="/settings">Settings</a></li>
     <li><a href="/logout">Logout</a></li>
     </ul><br>
                <h3 id = "date"></h3>
                <h1 id="h1green">★Science Quiz!★</h1>

          <div id="Questions">
            <form action="/checkquiz" method="post">
              <h2>What does Zn refer to on the periodic table?</h2>
              <div class="imageCenter">
                <input type="radio" name="q1" value="0">Steel</input>
                <input type="radio" name="q1" value="1">Zinc</input>
                <input type="radio" name="q1" value="0">Gold</input>
                <input type="radio" name="q1" value="0">Copper</input>
                              </div>

              <h2>In what type of matter are atoms most tightly packed?</h2>
              <div class="imageCenter">
                <input type="radio" name="q2" value="0">Liquids</input>
                <input type="radio" name="q2" value="1">Solid</input>
                <input type="radio" name="q2" value="0">Gases</input>
                <input type="radio" name="q2" value="0">All</input>
                              </div>

              <h2>What planet has the most moons?</h2>
              <div class="imageCenter">
                <input type="radio" name="q3" value="0">Earth</input>
                <input type="radio" name="q3" value="0">Mars</input>
                <input type="radio" name="q3" value="1">Jupiter</input>
                <input type="radio" name="q3" value="0">Saturn</input>
                              </div>


              <h2>Hurricanes only form over ________?</h2>
              <div class="imageCenter">
                <input type="radio" name="q4" value="1">Warm Water</input>
                <input type="radio" name="q4" value="0">Cold Water</input>
                <input type="radio" name="q4" value="0">Warm Land</input>
                <input type="radio" name="q4" value="0">Cold Land</input>
                              </div>
              <div class="imageCenter">
                <br>
            <button type="submit" id="submit" class="regButton" value="Submit" >Submit</button>
                            </div>
            </form><br>

          </div>
          <h1 id="score"></h1>
          <h2 id="res"></h2>
          <h1 id="coinResult"></h1>
          <h1 id="message"></h1>
            </header>
          <footer id="site-footer">
          </footer>

        </body>
      </html>
