<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="stylesheets/store.css">
    <script type="text/javascript" src="js/store.js"></script>
    <meta charset="utf-8">

  </head>

        <body style="margin: 0;">

<header id="site-header">
</header>
        <header id="mainheader">
                <h3 id = "date"></h3>
                <h1 id="h1green">★Store!★</h1>

          <div id="topics">

            <h1>★Topics★</h1>

            <form>
              <h2>Plants</h2>
              <input type="number" id="s1" value="0">Carrots 5</input>
              <input type="number" id="s2" value="0">Tomatoes 5</input>
              <input type="number" id="s3" value="0">Pumpkins 5</input>
              <input type="number" id="s4" value="0">Apples 5</input>

              <h2>Fertilizer</h2>
              <input type="number" id="s5" value="0">Fertilizer</input>

              <h2>Food</h2>
              <input type="number" id="s6" value="0">Candy 5</input>
              <input type="number" id="s7" value="0">Kale 5</input>
              <input type="number" id="s8" value="0">Oranges 5</input>
              <input type="number" id="s9" value="0">Pear 5</input>

              <h2>Toys</h2>
              <input type="number" id="s10" value="0">Tennis Ball 10</input>
              <input type="number" id="s11" value="0">Chew Toy 10</input>
              <input type="number" id="s12" value="0">Stuffed Animal 10</input>
            </form>
            <button type="button" id="submit" value="Submit" onclick="buyItems(); this.onclick=null;">Submit</button>
            <h1 id="cost">cost</h1>
          </div>

            </header>



            <script>
            function DateFunction(){
              var curr_date = new Date();
              document.getElementById("date").innerHTML = curr_date;
            }
            </script>

            <script>
            setInterval(DateFunction, 1000);
            </script>
          <footer id="site-footer">
          </footer>

        </body>
      </html>
