<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="stylesheets/store.css">
    <!-- <link rel="stylesheet" href="stylesheets/quiz.css"> -->
    <link rel="stylesheet" href="stylesheets/main.css">
    <script type="text/javascript" src="js/store.js"></script>
    <meta charset="utf-8">

  </head>

  <body style="margin: 0;">

<!-- <header id="site-header"> -->
<!-- </header> -->
  <header id="mainheader" style="padding-top: 0px">


    <ul>
     <li><a class="active" href="/main">Home</a></li>
     <li><a href="/inventory">Inventory</a></li>
     <li><a href="/chat">Chatroom</a></li>
     <li><a href="/quiz">Quiz</a></li>
     <li><a href="/store">Store</a></li>
     <li><a href="/farmagatchi">Farmagatchi</a></li>
     <li><a href="/settings">Settings</a></li>
     <li><a href="/logout">Logout</a></li>
     </ul><br>
                <h3 id = "date"></h3>
                <h1 id="h1green">★Store!★</h1>

          <div id="topics">
            <form action="/buy" method="post">
              <h2>Plants</h2>
              <div style="width: 100%;" >
                <table style="margin-left: auto; margin-right: auto;">
                  <tr>
                    <th valign="bottom"><img src="images/cornn.jpg" alt="profilePic" style="width:80px;height:60px;padding-left:10px"></th>
                    <th valign="bottom"><img src="images/tomatodude.jpg" alt="profilePic" style="width:80px;height:60px;padding-left:10px"></th>
                    <th valign="bottom"><img src="images/evilpumpkin.jpg" alt="profilePic" style="width:80px;height:60px;padding-left:10px"></th>
                    <th valign="bottom"><img src="images/potato.jpg" alt="profilePic" style="width:80px;height:60px;padding-left:10px"></th>
                    <th valign="bottom"><img src="images/cabby.jpg" alt="profilePic" style="width:80px;height:60px;padding-left:10px"></th>
                    <th valign="bottom"><img src="images/carrosaur.jpg" alt="profilePic" style="width:80px;height:60px;padding-left:10px"></th>
                    <th valign="bottom"><img src="images/watermelony.jpg" alt="profilePic" style="width:80px;height:60px;padding-left:10px"></th>
                    <th valign="bottom"><img src="images/seed.png" alt="profilePic" style="width:80px;height:160px;padding-left:10px"></th>
                  </tr>
                  <tr>
                    <td>Corn 5 Coins</td>
                    <td>Tomatoes 5 Coins</td>
                    <td>Pumpkins 5 Coins</td>
                    <td>Potatoes 5 Coins</td>
                    <td>Cabbage 5 Coins</td>
                    <td>Carrots 5 Coins</td> 
                    <td>watermelon 5Coins</td> 
                    <td>seed 1 Coins</td>                
                  </tr>
                  <tr>
                    <td><input class="numberField" type="number" id="s1" min="0" value="0" name="corn"></input></td>
                    <td><input class="numberField" type="number" id="s2" min="0" value="0" name="tomato"></input></td>
                    <td><input class="numberField" type="number" id="s3" min="0" value="0" name="pumpkin"></input></td>
                    <td><input class="numberField" type="number" id="s4" min="0" value="0" name="potato"></input></td>
                    <td><input class="numberField" type="number" id="s5" min="0" value="0" name="cabbage"></input></td>
                    <td><input class="numberField" type="number" id="s6" min="0" value="0" name="carrot"></input></td>
                    <td><input class="numberField" type="number" id="s7" min="0" value="0" name="watermelon"></input></td>
                    <td><input class="numberField" type="number" id="s8" min="0" value="0" name="seed"></input></td>
                  </tr>
                </table>
              </div>
<!--
              <h2>Fertilizer</h2>
              <input type="number" id="s8" min="0" value="0">Fertilizer 5 Coins</input>

              <h2>Food</h2>
              <input type="number" id="s9" min="0" value="0">Candy 5 Coins</input>
              <input type="number" id="s10" min="0" value="0">Kale 5 Coins</input>
              <input type="number" id="s11" min="0" value="0">Oranges 5 Coins</input>
              <input type="number" id="s12" min="0" value="0">Pear 5 Coins</input>

              <h2>Toys</h2>
              <input type="number" id="s13" value="0">Tennis Ball 10 Coins</input>
              <input type="number" id="s14" value="0">Chew Toy 10 Coins</input>
              <input type="number" id="s15" value="0">Stuffed Animal 10 Coins</input> -->
              <br>
              <button style="float: right; margin-right: 100px;" type="submit" id="submit" value="Submit" onclick="buyItems(); this.onclick=null;">Submit Order</button>
            </form>
            <h1 id="total">Negative inputs are invalid</h1>
          </div>
          <h2 id="error"></h2>
          <h2 id="total"></h2>
          <h2 id="invMessage"></h2>
          <h2 id="coinsLeft"></h2>

            </header>



            <script>
            function DateFunction(){
              var curr_date = new Date();
              document.getElementById("date").innerHTML = curr_date;
            }
            </script>

            <script>
            setInterval(DateFunction, 1000);
            </script>
          <footer id="site-footer">
          </footer>

        </body>
      </html>
